<html>

<head>
  <title>first page</title>
</head>

<body>
header area
{% block content %}{% endblock %}
foorer areas
<div>
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'customform' %}">base form</a>
<a href="{% url 'contactForm' %}">model form</a>
<a href=""></a>
</div>

</body>
