{% extends 'first_app/header.html' %}
{% load app_filter %}

{% block content %}

first template define <br>

{% if body_text %}

<table border="1">
<tr><th>Name</th><th>Info</th></tr>

{% for val in body_text%}

<tr>
  <td>{{ val.name.name|basic_filter:'and' }}</td>
  <td>{{ val.name.topic }} @ {{ val.date }} <a href="{{ val.name.url }}">{{ val.name.url }}</a></td>
</tr>

{% endfor %}

</table>

{% else %}

no data

{% endif %}


{% endblock %}
